<launch>
    <!-- topic of your odometry such as VIO or LIO -->
    <arg name="odom_topic" value="p3d" />

    <!-- gazebo world -->
    <include file="$(find otter_gazebo)/launch/gazebo_world.launch">
        <arg name="world" value="$(find usv_worlds)/worlds/usv.world"/>
        <arg name="gui" value="true"/>
        <arg name="verbose" value="false"/>
    </include>

    <!-- usv0 spawner -->
    <include file="$(find usv_launch)/launch/usv_spawner.launch">
        <arg name="usv_id" value="0"/>
        <arg name="init_x" value="-5.0"/>
        <arg name="init_y" value="0"/>
        <arg name="init_z" value="0.1"/>
        <arg name="Y" value="0" />
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <!-- usv1 spawner -->
    <include file="$(find usv_launch)/launch/usv_spawner.launch">
        <arg name="usv_id" value="1"/>
        <arg name="init_x" value="3.0"/>
        <arg name="init_y" value="-2.0"/>
        <arg name="init_z" value="0.1"/>
        <arg name="Y" value="0" />
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <!-- default rviz config -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find usv_launch)/launch/default.rviz" required="true" />
</launch>