<launch>
    <arg name="usv_id"    default="0" />
    <arg name="namespace" default="USV_$(arg usv_id)" />
    <arg name="manual" default="false" />

    <!-- topic of your odometry such as VIO or LIO -->
    <arg name="odom_topic" default="p3d" />
    <!-- topic of your localsense -->
    <arg name="cloud_topic" default="pcl_node/cloud" />
    <arg name="local_sense" default="20.0" />
    
    <!-- set map site and size -->
    <arg name="map_size_x" default="100.0"/>
	<arg name="map_size_y" default="100.0"/>
    <arg name="map_origin_x" default="-50.0"/><!-- map coor origin-->
	<arg name="map_origin_y" default="-50.0"/>
    <arg name="inflate_length" default="0.8"/>

    <arg name="use_dubins_line" default="true" />
    <arg name="vel_limit"  default="7.0" />
	<arg name="acc_limit"  default="7.0" />
    <arg name="jerk_limit"  default="7.0" />
    <arg name="rho_time"  default="0.1" />
	<arg name="radius_between_states"  default="7.0" />
    <arg name="sampler_pos_hrz_var"    default="0.8" />
    <arg name="sampler_vel_mag_mean"   default="4.0" />
	<arg name="sampler_vel_mag_var"    default="1.0" />
    <arg name="sampler_vel_dir_var"    default="0.2" />

    <group ns="/$(arg namespace)">
        <!-- <arg name="urdf" default="$(find otter_gazebo)/urdf/otter_gazebo.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro $(arg urdf)"/> -->
        <!-- global pointcloud -->
        <!-- <node pkg="sensing" name="pcl_node" type="pcl_node" output="screen">
            <remap from="~odometry" to="$(arg odom_topic)"/>
            <remap from="~local_sensing" to="lidar_3d/points"/>
            <remap from="~pcl_node/cloud" to="$(arg cloud_topic)"/>
            <param name="namespace" value="$(arg namespace)"/>
            <param name="sensor_range" value="$(arg local_sense)"/>
        </node> -->
    
        <!-- planner -->
        <include file="$(find plan_manage)/launch/planning.launch">
            <arg name="namespace" value="$(arg namespace)"/>
            <arg name="use_dubins_line" value="$(arg use_dubins_line)"/>

            <arg name="odom_topic" value="$(arg odom_topic)"/>
            <arg name="local_cloud" value="$(arg cloud_topic)"/>
            <!-- <arg name="depth_topic" value="pcl_node/cloud"/> --><!-- for realsense -->
            <arg name="glb_env_pcd_topic" value="/random_forest/all_map"/>
            <arg name="goal_topic" value="/move_base_simple/goal"/>
            <arg name="traj_topic" value="planning/poly_traj"/>
            <arg name="pub_glb_obs_srv" value="/pub_glb_obs" />
            
            <arg name="map_origin_x" value="$(arg map_origin_x)" /><!-- map coor origin-->
            <arg name="map_origin_y" value="$(arg map_origin_y)" />
            <arg name="map_size_x" value="$(arg map_size_x)" />
            <arg name="map_size_y" value="$(arg map_size_y)" />
            <arg name="local_radius" value="$(arg local_sense)" /><!-- local sensing -->
            <arg name="resolution" value="0.2" />
            <arg name="inflate_length" value="$(arg inflate_length)" />

            <arg name="vel_limit"  value="$(arg vel_limit)" />
            <arg name="acc_limit"  value="$(arg acc_limit)" />
            <arg name="jerk_limit" value="$(arg jerk_limit)" />
            <arg name="rho_time"   value="$(arg rho_time)" /><!-- cost-fun weight -->
            <arg name="radius_between_states" value="$(arg radius_between_states)" />
            <arg name="sampler_pos_hrz_var"  value="$(arg sampler_pos_hrz_var)" /><!-- pos-lateral-bias m-->
            <arg name="sampler_vel_mag_mean" value="$(arg sampler_vel_mag_mean)" /><!-- less than limits-->
            <arg name="sampler_vel_mag_var"  value="$(arg sampler_vel_mag_var)" /><!-- vel m/s-->
            <arg name="sampler_vel_dir_var"  value="$(arg sampler_vel_dir_var)" /><!-- vel dir bias rad-->

            <arg name="replan_check_duration" value="10.0" /><!-- collision check period -->
        </include>

        <!-- MPC -->
        <include file="$(find usv_mpc)/launch/control_mpc.launch">
            <arg name="odom_topic" value="$(arg odom_topic)"/>
            <arg name="traj_topic" value="planning/poly_traj"/>
        </include>
    
        <!-- visualize plot -->
        <!-- <node name="thr_plot" pkg="rqt_plot" type="rqt_plot" 
            args="left_thrust_cmd right_thrust_cmd">
        </node>
        <node name="spd_plot" pkg="rqt_plot" type="rqt_plot" 
            args="vel_all vel_u vel_v">
        </node> -->

    </group>
</launch>
